.dropdown-button {
  background-color: #4caf50;
  color: white;
  padding: 12px;
  border: none;
  cursor: pointer;
}

.nav-icons {
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  z-index: 1;
  border: 1px solid #ddd;
  margin-left: -120px !important;
  cursor: pointer;
}

.dropdown-content a {
  text-decoration: none;
}

.menu-item {
  padding: 12px 16px;
  cursor: pointer;
  color: black;
  background-color: whitesmoke;
  text-decoration: none;
}

.menu-item:hover {
  background-color: #ddd;
}

.custom-dropdown:hover .dropdown-content {
  display: block;
  /* cursor: pointer; */
}
