body {
  background-color: black;
}

.waiting-heading {
  margin-top: 90px;
  text-align: center;
  color: white;
}

.search-heading-mood {
  margin-top: 30px;
  text-align: center;
  font-weight: bold;
  color: white;
}

.mood-button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 30px;
  margin-left: 10px;
  margin-right: 10px;
}

.mood-button {
  flex: 0 0 calc(20% - 20px);
  height: 70px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s;
  background-color: aqua;
  color: black;
}


.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  padding: 20px;
  margin: 0 auto;
  max-width: 1200px;
}

.grid-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  margin: 10px;
  border: 1px solid #ccc;
  padding: 20px;
  text-align: center;
}

.grid-item-image {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin-bottom: 10px;
}

.grid-item-title {
  font-size: 16px;
  text-align: center;
  font-weight: bold;
  color: white;
}

@media (max-width: 768px) {
  body {
    background-color: black;
  }
  
  .waiting-heading {
    margin-top: 90px;
    text-align: center;
    color: white;
  }
  
  .search-heading-mood {
    margin-top: 30px;
    text-align: center;
    font-weight: bold;
    color: white;
  }
  
  .mood-button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 30px;
    /* margin-left: 10px;
    margin-right: 10px; */
  }
  
  .mood-button {
    flex: 0 0 calc(33.33% - 20px);
    height: 50px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: bold;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s;
    background-color: aqua;
    color: black;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0px;
    padding: 20px;
    margin: 0 auto;
    max-width: 768px;
  }
  
  .grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    border: 0.5px solid #ccc;
    padding: 5px;
    text-align: center;
  }
  
  .grid-item-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-bottom: 10px;
  }
  
  .grid-item-title {
    font-size: 16px;
    text-align: center;
    font-weight: bold;
    color: white;
  }
}